
firebase.json
.firebaserc
.firebase
package-lock.json
$RESOURCE_DIR
public/node_modules
public/semantic
public/package-lock.json
public/test.html
public/test2.html
public/js/test.js
public/js/test2.js