html {
  height: 100%;
}

body {
  height: 100%;
  margin: 50px;
  background-color: #ddd;
}

#modal-URL_couv {
	word-wrap: break-word;
}

#modal-edit-inpBorderColor {
	background-color: #ffffff;
	width: 90px;
}

#modal-couv {
	padding: 20px;
}

.resizable {
	resize: both !important;
}

.inline {
	 display: inline;
}

.modal.second {
	position: fixed;
}
